@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply tracking-wide text-neutral-700 select-none
  }

  [class*='active\:'] {
    @apply duration-300;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@layer utilities {
  .scroll-hidden::-webkit-scrollbar {
    @apply hidden
  }
}

@layer components {
  .custom .van-dialog__message {
    @apply flex flex-col
  }

  .custom.van-popup--center{
    top: 50dvh;
    left: 50vw;
    margin: unset;
    transform: translateY(-50%) translateX(-50%);
  }
}

.slide-enter-active,
.slide-leave-active,
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  @apply duration-300 absolute top-0 w-full;
}

.slide-left-enter-from {
  @apply translate-x-full;
}

.slide-right-enter-from {
  @apply -translate-x-full;
}

.slide-left-enter-to,
.slide-left-leave-from,
.slide-right-enter-to,
.slide-right-leave-from {
  @apply translate-x-0;
}

.slide-left-leave-to {
  @apply -translate-x-full;
}

.slide-right-leave-to {
  @apply translate-x-full;
}